<div class="page">
  <div class="content">
    <section class="creation">
      <button class="create-btn" (click)="showPopup()">Create Album</button>
      <div class="pop-up" [hidden]="!isPopupVisible">
        <input [(ngModel)]="newAlbumName" placeholder="Enter album name">
        <button (click)="createAlbum()">Create</button>
        <button (click)="closePopup()">Cancel</button>
      </div>
    </section>
    <div class="albums">
      <h2>Albums list:</h2>
      <div class="album" *ngFor="let album of albums">
        <a [routerLink]="['/albums', album.id]">{{ album.title }}</a>
        <img class="delete" (click)="deleteAlbum(album.id)" src="assets/garbage.png" alt="delete">
      </div>
    </div>
  </div>
</div>
