<div class="home-info">
  <h1>
    Welcome, to the Mx Photos!
  </h1>
  <h2>What it is?</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis magna vel enim lacinia convallis. Proin pellentesque elementum tincidunt. Vestibulum sed vulputate odio. Ut non nibh non velit dignissim faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed suscipit justo quis pretium faucibus. Sed pretium id risus vitae pharetra. Donec non suscipit magna, vel tristique justo.
    Donec id tincidunt ante, vitae molestie orci. Integer et velit interdum, dignissim elit quis, sodales nisi. Sed suscipit pretium ipsum. Ut congue posuere arcu et semper. Proin luctus, mi sit amet venenatis pellentesque, urna eros consequat lorem, eu ullamcorper nulla nisl ut lorem. Vivamus accumsan velit mi, non condimentum sem luctus et. Aliquam pretium justo lacinia, aliquam nunc eget, finibus ipsum. Nunc quis molestie nisi. Morbi porta tempor est, a dictum nulla rutrum quis.
  </p>
</div>
