/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  font-family: Nunito, sans-serif;
  scrollbar-color: #3c5654 #e4ecec;
  scrollbar-width: 1vw;
  color: azure;
  background-color: #000000;
}
